/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	background: #fff;
	color: #666666;
	font-family: "Open Sans", sans-serif;
}

a {
	color: #F9E79F;
}

a:hover, a:active, a:focus {
	color: #2dca98;
	outline: none;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	margin: 0 0 20px 0;
	padding: 0;
}

table tbody tr td a i {
	color: #555;
}

table tbody tr td a i:hover {
	color: orange;
}

.bg-black {
	background-color: rgba(0, 0, 0, 0.7);
}

/* Prelaoder */
#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
	position: fixed;
	display: none;
	background: rgba(0, 0, 0, 0.2);
	color: #000;
	padding: 6px 12px 9px 12px;
	font-size: 16px;
	border-radius: 2px;
	right: 15px;
	bottom: 15px;
	transition: background 0.5s;
}

@media (max-width: 768px) {
	.back-to-top {
		bottom: 15px;
	}
}

.back-to-top:focus {
	background: rgba(0, 0, 0, 0.2);
	color: #000;
	outline: none;
}

.back-to-top:hover {
	background: #F9E79F;
	color: #000;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	padding: 30px 0;
	height: 92px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 997;
}

#header #logo {
	float: left;
}

#header #logo h1 {
	font-size: 36px;
	margin: 0;
	padding: 6px 0;
	line-height: 1;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
	color: #fff;
}

#header #logo img {
	padding: 0;
	margin: 0;
}

@media (max-width: 768px) {
	#header #logo h1 {
		font-size: 26px;
	}
	#header #logo img {
		max-height: 40px;
	}
}

#header.header-fixed {
	background: rgba(52, 59, 64, 0.9);
	padding: 20px 0;
	height: 72px;
	transition: all 0.5s;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	display: table;
	width: 100%;
	height: 100vh;
	background: url(../img/hero-bg.jpg) top center fixed;
	background-size: cover;
}

#hero .hero-container {
	background: rgba(0, 0, 0, 0.6);
	display: table-cell;
	margin: 0;
	padding: 0 10px;
	text-align: center;
	vertical-align: middle;
}

#hero h1 {
	margin: 30px 0 10px 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	text-transform: uppercase;
	color: #fff;
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 28px;
		line-height: 36px;
	}
}

#hero h2 {
	color: #eee;
	margin-bottom: 50px;
	font-size: 24px;
}

@media (max-width: 768px) {
	#hero h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}

#hero .btn-get-started {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 50px;
	transition: 0.5s;
	margin: 10px;
	border: 2px solid #fff;
	color: #fff;
}

#hero .btn-get-started:hover {
	background: #F9E79F;
	border: 2px solid #F9E79F;
	color: #000;
}

#hero input[type='text'] {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 50px;
	margin: 10px;
	border: 2px solid #fff;
	color: #000;
}

#hero form input[type='text'] {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: block;
	padding: 8px 28px;
	border-radius: 50px;
	margin: 10px;
	border: 2px solid #fff;
	color: #000;
	margin-left: auto;
    margin-right: auto;
}

#hero form input[type='password'] {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: block;
	padding: 8px 28px;
	border-radius: 50px;
	margin: 10px;
	border: 2px solid #fff;
	color: #000;
	margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}

.nav-menu li {
	position: relative;
	white-space: nowrap;
}

.nav-menu > li {
	float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
	display: block;
}

.nav-menu ul ul {
	top: 0;
	left: 100%;
}

.nav-menu ul li {
	min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
	padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
	content: "\f107";
	position: absolute;
	right: 15px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
	content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
	float: right;
	margin: 0;
}

@media (max-width: 768px) {
	#nav-menu-container {
		display: none;
	}
}

/* Nav Meu Styling */
.nav-menu a {
	padding: 0 8px 10px 8px;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
	outline: none;
}

.nav-menu > li {
	margin-left: 10px;
}

.nav-menu > li > a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #F9E79F;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.nav-menu ul {
	margin: 5px 0 0 0;
}

.nav-menu ul li {
	background: #fff;
}

.nav-menu ul li:first-child {
	border-top: 0;
}

.nav-menu ul li a {
	padding: 10px;
	color: #333;
	transition: 0.3s;
	display: block;
	font-size: 13px;
	text-transform: none;
}

.nav-menu ul li a:hover {
	background: #F9E79F;
}

.nav-menu ul ul {
	margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	margin: 20px 20px 0 0;
	border: 0;
	background: none;
	font-size: 24px;
	display: none;
	transition: all 0.4s;
	outline: none;
	cursor: pointer;
}

#mobile-nav-toggle i {
	color: #fff;
}

@media (max-width: 768px) {
	#mobile-nav-toggle {
		display: inline;
	}
}

/* Mobile Nav Styling */
#mobile-nav {
	position: fixed;
	top: 0;
	padding-top: 18px;
	bottom: 0;
	z-index: 998;
	background: rgba(52, 59, 64, 0.9);
	left: -260px;
	width: 260px;
	overflow-y: auto;
	transition: 0.4s;
}

#mobile-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#mobile-nav ul li {
	position: relative;
}

#mobile-nav ul li a {
	color: #fff;
	font-size: 16px;
	overflow: hidden;
	padding: 10px 22px 10px 15px;
	position: relative;
	text-decoration: none;
	width: 100%;
	display: block;
	outline: none;
}

#mobile-nav ul li a:hover {
	color: #fff;
}

#mobile-nav ul li li {
	padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
	position: absolute;
	right: 0;
	z-index: 99;
	padding: 15px;
	cursor: pointer;
	color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
	color: #F9E79F;
}

#mobile-nav ul .menu-item-active {
	color: #F9E79F;
}

#mobile-body-overly {
	width: 100%;
	height: 100%;
	z-index: 997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(52, 59, 64, 0.9);
	display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
	overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
	left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
	color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
	font-size: 32px;
	color: #111;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin-bottom: 5px;
}

.section-header .section-description {
	text-align: center;
	padding-bottom: 40px;
	color: #999;
}

/* Section 1
--------------------------------*/
#section1 {
	background: #fff;
	padding: 80px 0;
	margin-top: 50px;
}

#section1 .section1-container .content {
	background: #fff;
}

#section1 .section1-container .title {
	color: #333;
	font-weight: 700;
	font-size: 32px;
}

@media (max-width: 768px) {
	#section1 .section1-container .title {
		padding-top: 15px;
	}
}

#section1 .section1-container p {
	line-height: 26px;
}

#section1 .section1-container p:last-child {
	margin-bottom: 0;
}

#section1 .section1-container .icon-box {
	background: #fff;
	background-size: cover;
	padding: 0 0 30px 0;
}

#section1 .section1-container .icon-box .icon {
	float: left;
	background: #fff;
	padding: 16px;
	border-radius: 50%;
	border: 2px solid #F9E79F;
}

#section1 .section1-container .icon-box .icon i {
	color: #F9E79F;
	font-size: 24px;
}

#section1 .section1-container .icon-box .title {
	margin-left: 80px;
	font-weight: 500;
	margin-bottom: 5px;
	font-size: 18px;
	text-transform: uppercase;
}

#section1 .section1-container .icon-box .title a {
	color: #111;
}

#section1 .section1-container .icon-box .description {
	margin-left: 80px;
	line-height: 24px;
	font-size: 14px;
}

/* Section 2
--------------------------------*/
#section2 {
	background: #f7f7f7;
	padding: 80px 0 60px 0;
	margin-top: 50px;
}

#section2 .counters span {
	font-size: 48px;
	display: block;
	color: #F9E79F;
}

#section2 .counters p {
	padding: 0;
	margin: 0 0 20px 0;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
}

/* Section 3
--------------------------------*/
#section3 {
	background: #fff;
	background-size: cover;
	padding: 80px 0 60px 0;
	margin-top: 50px;
}

#section3 .box {
	padding: 50px 20px;
	margin-bottom: 50px;
	text-align: center;
	border: 1px solid #e6e6e6;
	height: 200px;
	position: relative;
	background: #fafafa;
}

#section3 .icon {
	position: absolute;
	top: -36px;
	left: calc(50% - 36px);
	transition: 0.2s;
	border-radius: 50%;
	display: inline-block;
	border: 6px solid #fff;
}

#section3 .icon a {
	display: inline-block;
	background: #F9E79F;
	border: 2px solid #F9E79F;
	padding: 16px;
	border-radius: 50%;
	transition: 0.3s;
}

#section3 .icon i {
	color: #fff;
	font-size: 24px;
}

#section3 .box:hover .icon i {
	color: #F9E79F;
}

#section3 .box:hover .icon a {
	color: #F9E79F;
	background: #fff;
}

#section3 .title {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

#section3 .title a {
	color: #111;
}

#section3 .description {
	font-size: 14px;
	line-height: 24px;
}

/* Section 4
--------------------------------*/
#section4 {
	background: #fff;
	padding: 80px 0;
	margin-top: 50px;
}

#section4 .sec-title {
	color: #000;
	font-size: 28px;
	font-weight: 700;
}

#section4 .sec-text {
	color: #000;
}

@media (min-width: 769px) {
	#section4 .sec-btn-container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

#section4 .sec-btn {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 50px;
	transition: 0.5s;
	margin: 10px;
	border: 2px solid #fff;
	color: #fff;
}

#section4 .sec-btn:hover {
	background: #F9E79F;
	border: 2px solid #F9E79F;
}

/* Portfolio Section
--------------------------------*/
#portfolio {
	background: #f7f7f7;
	padding: 80px 0;
	margin-top: 50px;
}

#portfolio #portfolio-wrapper {
	padding-right: 15px;
}

#portfolio #portfolio-flters {
	padding: 0;
	margin: 0 0 45px 0;
	list-style: none;
	text-align: center;
}

#portfolio #portfolio-flters li {
	cursor: pointer;
	margin: 0 10px;
	display: inline-block;
	padding: 10px 22px;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	border-radius: 4px;
	text-transform: uppercase;
	background: #fff;
	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
	background: #F9E79F;
	color: #fff;
}

#portfolio .portfolio-item {
	position: relative;
	height: 200px;
	overflow: hidden !important;
	margin-bottom: 15px;
	transition: all 350ms ease;
	transform: scale(1);
}

#portfolio .portfolio-item a {
	display: block;
	margin-right: 15px;
}

#portfolio .portfolio-item img {
	position: relative;
	top: 0;
	transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#portfolio .portfolio-item .details {
	height: 50px;
	background: #F9E79F;
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: -50px;
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#portfolio .portfolio-item .details h4 {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	padding: 8px 0 2px 8px;
	margin: 0;
}

#portfolio .portfolio-item .details span {
	display: block;
	color: #fff;
	font-size: 13px;
	padding-left: 8px;
}

#portfolio .portfolio-item:hover .details {
	bottom: 0;
}

#portfolio .portfolio-item:hover img {
	top: -30px;
}

/* Team Section
--------------------------------*/
#team {
	background: #fff;
	padding: 80px 0 60px 0;
	margin-top: 50px;
}

#team .member {
	text-align: center;
	margin-bottom: 20px;
}

#team .member .pic {
	margin-bottom: 15px;
	overflow: hidden;
	height: 260px;
}

#team .member .pic img {
	max-width: 100%;
}

#team .member h4 {
	font-weight: 700;
	margin-bottom: 2px;
	font-size: 18px;
}

#team .member span {
	font-style: italic;
	display: block;
	font-size: 13px;
}

#team .member .social {
	margin-top: 15px;
}

#team .member .social a {
	color: #b3b3b3;
}

#team .member .social a:hover {
	color: #F9E79F;
}

#team .member .social i {
	font-size: 18px;
	margin: 0 2px;
}

/* Contact Section
--------------------------------*/
#contact {
	background: #f7f7f7;
	padding: 80px 0 40px 0;
	margin-top: 50px;
}

#contact #google-map {
	height: 300px;
	margin-bottom: 20px;
}

#contact .info {
	color: #333333;
}

#contact .info i {
	font-size: 32px;
	color: #F9E79F;
	float: left;
}

#contact .info p {
	padding: 0 0 10px 50px;
	margin-bottom: 20px;
	line-height: 22px;
	font-size: 14px;
}

#contact .info .email p {
	padding-top: 5px;
}

#contact .social-links {
	padding-bottom: 20px;
}

#contact .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #333;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#contact .social-links a:hover {
	background: #F9E79F;
	color: #fff;
}

#contact .form #sendmessage {
	color: #F9E79F;
	border: 1px solid #F9E79F;
	display: none;
	text-align: center;
	padding: 15px;
	font-weight: 600;
	margin-bottom: 15px;
}

#contact .form #errormessage {
	color: red;
	display: none;
	border: 1px solid red;
	text-align: center;
	padding: 15px;
	font-weight: 600;
	margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
	display: block;
}

#contact .form .validation {
	color: red;
	display: none;
	margin: 0 0 20px;
	font-weight: 400;
	font-size: 13px;
}

#contact .form input, #contact .form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}

#contact .form button[type="submit"] {
	background: #F9E79F;
	border: 0;
	padding: 10px 24px;
	color: #fff;
	transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
	background: #51d8ad;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	background: #343b40;
	padding: 30px 0;
	color: #fff;
	font-size: 14px;
}

#footer .copyright {
	text-align: center;
}

#footer .credits {
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
	color: #ccc;
}
